{%extends 'article/base.html'%}

{%block title%}Comments{%endblock%}

{%block login%}
    {%if not request.user.username%}
            <li class="">
                <a href="{%url 'article:signup'%}">
                    <span  aria-hidden="true"></span>&nbsp;Signup
                </a>

            </li>

            <li class="">
                <a href="{%url 'article:user_login'%}">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Login
                </a>
            </li>
    {%else%}
            <li class="">
                <a href="#">
                    <span  aria-hidden="true"></span>&nbsp;Welcome {{request.user.username}}
                </a>

            </li>

            <li class="">
                <a href="{%url 'article:user_logout'%}">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Logout
                </a>
            </li>
{%endif%}
{%endblock%}

{%block body%}

    <h1><i>{{article.title}}</i></h1>
    <p>{{article.content}}</p>

    <h3>Comments</h3>

    <ul>
        {%for comment in article.comment_set.all%}
        <li>{{comment.comment_text}}-{{comment.comment_author}}</li>
        {%endfor%}
    </ul>

    <h3>Post a Comment</h3>
    <form action="" method="POST">
        {%csrf_token%}
        {{comment_form}}
        <input type="submit" value="Submit">
    </form>

{%endblock%}
