{%extends 'article/base.html'%}

{%block title%}Comments{%endblock%}

{%block body%}

    <h1><i>{{article.title}}</i></h1>
    <p>{{article.content}}</p>

    <h3>Comments</h3>

    <ul>
        {%for comment in article.comment_set.all%}
        <li>{{comment.comment_text}}-{{comment.comment_author}}</li>
        {%endfor%}
    </ul>

    <h3>Post a Comment</h3>
    <form action="" method="POST">
        {%csrf_token%}
        {{comment_form}}
        <input type="submit" value="Submit">
    </form>

{%endblock%}
