{%extends 'article/base.html'%}
{%block title%}Articles{%endblock%}

{%block login%}
    {%if not request.user.username%}
            <li class="">
                <a href="{%url 'article:signup'%}">
                    <span  aria-hidden="true"></span>&nbsp;Signup
                </a>

            </li>

            <li class="">
                <a href="{%url 'article:user_login'%}">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Login
                </a>
            </li>
    {%else%}
            <li class="">
                <a href="#">
                    <span  aria-hidden="true"></span>&nbsp;Welcome {{request.user.username}}
                </a>

            </li>

            <li class="">
                <a href="{%url 'article:user_logout'%}">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Logout
                </a>
            </li>
{%endif%}
{%endblock%}


{%block body%}
    {%if articles%}
        <ul>
            {%for article in articles %}
            <li><a href="{% url 'article:detail' article.id %}">{{article.title}} </a></li>
            {%endfor%}
        </ul>
    {%else%}
        <h3>You dont have any articles</h3>
    {%endif%}

{%endblock%}
